@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title> Quản lý sản phẩm </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel='shortcut icon' href='https://img.icons8.com/fluency/100/000000/music-band.png'/> -->
    <link rel="stylesheet" href="~/css/ProList.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <script src="https://kit.fontawesome.com/610ab90504.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
    <div id="main">
        <div id="header">
            <!-- Begin nav -->
            <ul id="nav">
                <li><a href="#">Quản lí sản phẩm</a></li>
                <li><a href="@Url.Action("Donhang", "tbl_order")">Quản lí đơn hàng</a></li>
                <li><a href="@Url.Action("Voucher", "tbl_voucher")">Quản lí khuyến mãi</a></li>
                <li><a href="@Url.Action("Nhacc", "tbl_brand")">Quản lí nhà cung cấp</a></li>
                <li><a href="@Url.Action("Static", "ThongKe")">Thống kê</a></li>
                <li> <a href="/tbl_customers/Logout"> LOGOUT </a> </li>
            </ul>
            <div class="menu-btn"><i class="fas fa-bars"></i></div>
        </div>
    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <div class="center-outer">
                        <div class="center-inner">
                            <div class="bubbles">
                                <h1>Quản lí sản phẩm</h1>
                            </div>
                        </div>
                    </div>
                    <div class="content__search">
                        <input type="text" placeholder="Nhập vào đây">
                        <button id="search">Search</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table table-responsive-xl">
                            <thead>
                                <tr>
                                    <th>Danh mục</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Trạng thái</th>
                                    <th>&nbsp;</th>
                                    <th><i class="fas fa-plus"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr class="alert" role="alert">
                                    <td class="d-flex align-items-center">
                                        <div class="img" style="background-image: url(./product-1.jpg);"></div>
                                        <div class="pl-3 email">
                                            <span>Tivi</span>
                                            <span>Added: 01/03/2020</span>
                                        </div>
                                    </td>
                                    <td>Tivi Samsung 19000 123.54 inches</td>
                                    <td>3.000.000</td>
                                    <td class="status"><span class="active">Còn hàng</span></td>
                                    <td>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="fas fa-ellipsis-v"></i></span>
                                        </button>
                                    </td>
                                </tr>
                                <tr class="alert" role="alert">
                                    <td class="d-flex align-items-center">
                                        <div class="img" style="background-image: url(./product-1.jpg);"></div>
                                        <div class="pl-3 email">
                                            <span>Tivi</span>
                                            <span>Added: 01/03/2020</span>
                                        </div>
                                    </td>
                                    <td>Tivi Samsung 19000 123.54 inches</td>
                                    <td>3.000.000</td>
                                    <td class="status"><span class="block">Hết hàng</span></td>
                                    <td>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="fas fa-ellipsis-v"></i></span>
                                        </button>
                                    </td>
                                </tr>
                                <tr class="alert" role="alert">
                                    <td class="d-flex align-items-center">
                                        <div class="img" style="background-image: url(./product-1.jpg);"></div>
                                        <div class="pl-3 email">
                                            <span>Tivi</span>
                                            <span>Added: 01/03/2020</span>
                                        </div>
                                    </td>
                                    <td>Tivi Samsung 19000 123.54 inches</td>
                                    <td>3.000.000</td>
                                    <td class="status"><span class="active">Còn hàng</span></td>
                                    <td>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="fas fa-ellipsis-v"></i></span>
                                        </button>
                                    </td>
                                </tr>
                                <tr class="alert" role="alert">
                                    <td class="d-flex align-items-center">
                                        <div class="img" style="background-image: url(./product-1.jpg);"></div>
                                        <div class="pl-3 email">
                                            <span>Tivi</span>
                                            <span>Added: 01/03/2020</span>
                                        </div>
                                    </td>
                                    <td>Tivi Samsung 19000 123.54 inches</td>
                                    <td>3.000.000</td>
                                    <td class="status"><span class="active">Còn hàng</span></td>
                                    <td>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="fas fa-ellipsis-v"></i></span>
                                        </button>
                                    </td>
                                </tr>
                                <tr class="alert" role="alert">
                                    <td class="d-flex align-items-center">
                                        <div class="img" style="background-image: url(./product-1.jpg);"></div>
                                        <div class="pl-3 email">
                                            <span>Tivi</span>
                                            <span>Added: 01/03/2020</span>
                                        </div>
                                    </td>
                                    <td>Tivi Samsung 19000 123.54 inches</td>
                                    <td>3.000.000</td>
                                    <td class="status"><span class="active">Còn hàng</span></td>
                                    <td>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="fas fa-ellipsis-v"></i></span>
                                        </button>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="no-result">Không có kết quả tìm kiếm</div>
    <div class="demo">
        <nav class="pagination-outer" aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a id="Prev" class="page-link disabled" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <div class="page-number">
                    <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item" ><a class="page-link" href="#">2</a></li>
                    <li class="page-item active"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li> -->
                </div>
                <li class="page-item">
                    <a id="Next" class="page-link" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="modal js-modal">
        <div class="modal-container js-modal-container">
            <div class="modal-close js-close-buy-ticket"><i class="far fa-times-circle"></i></div>
            <header class="modal-header">
                Cập nhật sản phẩm
            </header>
            <div class="modal-body">
                <input id="tensp-up" type="text" class="modal-input-l" placeholder="Tên sản phẩm">
                <select id="th-up" class="modal-input-r" placeholder="Thuong hieu">
                    <option selected="selected" hidden> Chọn thương hiệu</option>
                    @foreach (var item in ViewData["Listb"] as List<object>)
                    {
                        <option value="@item.GetType().GetProperty("Brand_id").GetValue(item)"> @item.GetType().GetProperty("Brand_name").GetValue(item)</option>
                    }
                </select>
                <input id="msp-up" type="text" class="modal-input-l" placeholder="Mã sản phẩm" disabled>
                <input id="sl-up" type="number" min="0" id="modal-email" class="modal-input-r" placeholder="Số lượng">
                <input id="gia-up" type="text" id="modal-email" class="modal-input" pattern="^\$?(?!0.00)(([0-9]{1,3},|.([0-9]{3},|.)*)[0-9]{3}|[0-9]{1,3})(\.[0-9]{2})?$" placeholder="Giá">
                <input id="img-up" type="text" id="modal-email" class="modal-input" pattern="(https?:\/\/.*\.(?:png|jpg))" placeholder="URL hình ảnh">
                <select id="dm-up" class="modal-input-l" placeholder="Thuong hieu">
                    <option selected="selected" hidden> Chọn danh mục </option>
                    @foreach (var item in ViewData["Listcp"] as List<object>)
                    {
                        <option value="@item.GetType().GetProperty("Category_id").GetValue(item)"> @item.GetType().GetProperty("Category_name").GetValue(item)</option>
                    }
                </select>
                <button id="capnhatbtn" class="modal-button"><i class="fas fa-user-edit"></i> Update</button>
            </div>
        </div>
    </div>
    <div id="modal-1" class="modal js-modal">
        <form class="modal-content">
            <div class="container-1">
                <h1>Xóa sản phẩm</h1>
                <p>Bạn có chắc là muốn xóa sản phẩm hay không?</p>
                <div class="clearfix">
                    <button type="button" class="cancelbtn">Cancel</button>
                    <button type="button" class="deletebtn">Delete</button>
                </div>
            </div>
        </form>

    </div>
    <div id="modal-2" class="modal js-modal">
        <div class="modal-container js-modal-container">
            <div class="modal-close js-close-buy-ticket"><i class="far fa-times-circle"></i></div>
            <header class="modal-header">
                Thêm sản phẩm
            </header>
            <div class="modal-body">
                <input id="tensp-in" type="text" class="modal-input-l" placeholder="Tên sản phẩm">
                <select id="th-in" class="modal-input-r" placeholder="Thuong hieu">
                    <option selected="selected" value="0" hidden> Chọn thương hiệu</option>
                    @foreach (var item in ViewData["Listb"] as List<object>)
                    {
                        <option value="@item.GetType().GetProperty("Brand_id").GetValue(item)"> @item.GetType().GetProperty("Brand_name").GetValue(item)</option>
                    }
                </select>
                <input id="msp-in" type="text" class="modal-input-l" placeholder="Mã sản phẩm" disabled>
                <input id="sl-in" type="number" min="0" id="modal-email" class="modal-input-r" placeholder="Số lượng">
                <input id="gia-in" type="text" id="modal-email" class="modal-input" pattern="^\$?(?!0.00)(([0-9]{1,3},|.([0-9]{3},|.)*)[0-9]{3}|[0-9]{1,3})(\.[0-9]{2})?$" placeholder="Giá">
                <input id="img-in" type="url" id="modal-email" class="modal-input" pattern="(https?:\/\/.*\.(?:png|jpg))" placeholder="URL hình ảnh">
                <select id="dm-in" class="modal-input-l" placeholder="Thuong hieu">
                    <option selected="selected" value="0" hidden> Chọn danh mục</option>
                    @foreach (var item in ViewData["Listcp"] as List<object>)
                    {
                        <option value="@item.GetType().GetProperty("Category_id").GetValue(item)"> @item.GetType().GetProperty("Category_name").GetValue(item)</option>
                    }
                </select>
                <button id="thembtn" class="modal-button"><i class="fas fa-plus-circle"></i> Thêm</button>
            </div>
        </div>
    </div>
        <div id="modal-3" class="modal js-modal">
            <form class="modal-content">
                <div class="container-1">
                    <h1> Thông báo </h1>
                    <p id="thongbao-modal"> </p>
                    <div class="clearfix">
                        <button id="thongbao-btn" type="button" class="okbtn">OK</button>
                    </div>
                </div>
            </form>
        </div>
</body>

</html>
<!-- Xử lí mobile menu -->
<script>
    var header = document.querySelector('#header')
    var menuBTN = document.querySelector('#header .menu-btn');
    var headerHeight = header.clientHeight;

    // Xử lí mở đóng menu
    menuBTN.onclick = function () {
        var isClosed = header.clientHeight === headerHeight;
        if (isClosed) {
            header.style.height = "auto";


        } else {
            header.style.height = null;

        }
    }
    // Xử lí click vào menu item rồi đóng menu
    var menuItems = document.querySelectorAll('#nav li a[href*="#"]')
    var menuItemsLength = menuItems.length

    for (var i = 0; i < menuItemsLength; i++) {
        var menuItem = menuItems[i]
        menuItem.onclick = function (e) {

            var isParent = this.nextElementSibling && this.nextElementSibling.classList.contains('subnav')
            // var isOpen=this.nextElementSibling && this.nextElementSibling.classList.contains('subnav') && document.querySelector('.subnav').position
            if (isParent) {
                // var isOpened=document.querySelector(".subnav").style.position;
                // if(isOpened=="initial"){
                // document.querySelector(".subnav").style.position = "absolute";
                // }else{
                //     document.querySelector(".subnav").style.position = "initial";
                // }
                e.preventDefault()
            } else {
                header.style.height = null;
            }
        }
    }
</script>

<!-- Hiệu ứng nổi bọt -->
<script>
    jQuery(document).ready(function ($) {
        var bArray = [];
        var sArray = [4, 6, 8, 10];
        for (var i = 0; i < $('.bubbles').width(); i++) {
            bArray.push(i);
        }
        function randomValue(arr) {
            return arr[Math.floor(Math.random() * arr.length)];
        }
        setInterval(function () {
            var size = randomValue(sArray);
            $('.bubbles').append('<div class="individual-bubble" style="left: ' + randomValue(bArray) + 'px; width: ' + size + 'px; height:' + size + 'px;"></div>');
            $('.individual-bubble').animate({
                'bottom': '100%',
                'opacity': '-=0.7'
            }, 3000, function () {
                $(this).remove()
            }
            );

        }, 350);

    });
</script>
<script>

    const products = @Html.Raw(Json.Serialize(ViewData["Listp"]));

    const $ = document.querySelector.bind(document)
    const $$ = document.querySelectorAll.bind(document)
    const searchText = $('.content__search input');
    let currentPage = 1;
    let perPage = 5;
    let start = 0;
    let end = perPage;
    let productArr = [];
    productArr = products;
    const nextBtn = $("#Next")
    const prevBtn = $("#Prev")
    const pageNumber = $(".page-number")
    let totalPages = Math.ceil(productArr.length / perPage)
    function getCurrentPage(currentPage) {
        start = (currentPage - 1) * perPage;
        end = currentPage * perPage
        totalPages = Math.ceil(productArr.length / perPage)
    }
    function initRender(productAr, totalPage) {
        renderProduct(productAr);
        renderListPage(totalPage);
    }

    // <td class="d-flex align-items-center">
    // <div class="img" style="background-image: url(./product-1.jpg);"></div>
    // <div class="pl-3 email">
    //     <span>Tivi</span>
    //     <span>Added: 01/03/2020</span>
    // </div>
    // </td>
    // <td>Tivi Samsung 19000 123.54 inches</td>
    // <td class="cost">3.000.000</td>
    // <td class="status"><span class="block">Hết hàng</span></td>
    // <td>
    // <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    //     <span aria-hidden="true"><i class="fas fa-ellipsis-v"></i></span>
    // </button>
    // </td>
    function renderProduct(productArr) {
        let html = '';
        const content = productArr.map((item, index) => {
            if (index >= start && index < end) {
                html += `  <tr class="alert" role="alert">
                        <td class="d-flex align-items-center">
                        <div class="img" style="background-image: url(${item.image});"></div>
                        <div class="pl-3 email">
                            <span>${item.danhmuc}</span>
                            <span>Added: ${item.time}</span>
                        </div>
                        </td>
                        <td>${item.name}</td>
                        <td>${item.cost}</td>
                        <td class="status"><span class="${item.status}">${item.state}</span></td>
                        <td>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i id=${item.id} class="fas fa-pencil-alt"></i></span>
                        </button>
                        </td>
                        <td>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i id=${item.id} class="fas fa-minus-circle"></i></span>
                        </button>
                        </td>
                        </tr>`;
                return html;
            }
        });
        document.querySelector('.table tbody').innerHTML = html
    }
    initRender(productArr, totalPages)
    changePage()
    function renderListPage(totalPages) {
        let html = '';
        html += `<li class="page-item active"><a class="page-link ">${1}</a></li>`
        for (let i = 2; i <= totalPages; i++) {
            html += `<li class="page-item"><a class="page-link" >${i}</a></li>`
        }
        if(totalPages==1){
                prevBtn.classList.add("disabled")
                nextBtn.classList.add("disabled")
            }
        pageNumber.innerHTML = html
    }
    function changePage() {
        const currentPages = $$('.page-number li')
        for (let i = 0; i < currentPages.length; i++) {
            currentPages[i].addEventListener('click', (e) => {
                const value = i + 1;
                currentPage = value;
                let numberPage = $$(".page-number li")
                for (let j of numberPage) {
                    if (j.classList.contains("active")) {
                        j.classList.remove("active");
                    }
                }
                currentPages[i].classList.add('active')
                if (currentPage > 1 && currentPage < totalPages) {
                    prevBtn.classList.remove("disabled")
                    nextBtn.classList.remove("disabled")
                }
                if (currentPage == 1) {
                    prevBtn.classList.add("disabled")
                    nextBtn.classList.remove("disabled")
                }
                if (currentPage == totalPages) {
                    nextBtn.classList.add("disabled")
                    prevBtn.classList.remove("disabled")
                }
                if(totalPages==1){
                        prevBtn.classList.add("disabled")
                        nextBtn.classList.add("disabled")
                    }
                // currentPages[i].classList.add("active")
                getCurrentPage(currentPage)
                renderProduct(productArr)
                Delete();
                Update();
            })
        }
    }

    nextBtn.addEventListener('click', (e) => {
        currentPage++;
        if (currentPage > totalPages) {
            currentPage = totalPages
        }
        if (currentPage == totalPages) {
            nextBtn.classList.add("disabled")
        }
        prevBtn.classList.remove("disabled")
        let numberPage = $$(".page-number li")
        for (let j of numberPage) {
            if (j.classList.contains("active")) {
                j.classList.remove("active");
            }
        }
        numberPage[currentPage - 1].classList.add('active')
        getCurrentPage(currentPage)
        renderProduct(productArr)
        Delete();
        Update();
    })
    prevBtn.addEventListener('click', (e) => {
        console.log(currentPage)
        currentPage--;
        if (currentPage <= 1) {
            currentPage = 1
        }
        if (currentPage == 1) {
            prevBtn.classList.add("disabled")
        }
        nextBtn.classList.remove("disabled")
        let numberPage = $$(".page-number li")
        for (let j of numberPage) {
            if (j.classList.contains("active")) {
                j.classList.remove("active");
            }
        }
        numberPage[currentPage - 1].classList.add('active')
        getCurrentPage(currentPage)
        renderProduct(productArr)
        Delete();
        Update();
    })
</script>
<!-- modal trong nút Update sản phẩm -->
<script>
    function Update() {
        const Updatebtns = $$(".fa-pencil-alt")
        const modal = document.querySelector('.js-modal')
        const modalContainer = document.querySelector('.js-modal-container')
        const closeBtn = document.querySelector(".js-close-buy-ticket")
        const capnhatBtn = $("#capnhatbtn")
        for (const Updatebtn of Updatebtns) {
            Updatebtn.addEventListener("click", function () {
                modal.classList.add('open')
                jQuery.ajax({
                    url: '/tbl_product/GetProductById',
                    dataType: "json",
                    type: "POST",
                    data: { id: Updatebtn.id },
                    success: function (data) {
                        var p = JSON.parse(data)
                        $("#msp-up").value = Updatebtn.id
                        $("#tensp-up").value = p.product_name
                        $("#img-up").value = p.product_image
                        $("#gia-up").value = p.product_price
                        $("#sl-up").value = p.product_status
                        $("#th-up").value = p.brand_id
                        $("#dm-up").value = p.category_id
                    },
                    error: function (xhr) {
                        alert('Error');
                    }
                });
            })
        }
        closeBtn.addEventListener("click", function () {
            modal.classList.remove('open')
        })
        modal.addEventListener("click", function () {
            modal.classList.remove('open')
        })
        modalContainer.addEventListener("click", function (e) {
            e.stopPropagation();
        })
        capnhatBtn.addEventListener("click", function () {
            if ($("#tensp-up").value.length == 0) {
                $("#modal-3").classList.add('open')
                $("#thongbao-modal").innerHTML = "Chưa nhập tên sản phẩm"
            }
            else {
                if ($("#gia-up").value.length == 0) {
                    $("#modal-3").classList.add('open')
                    $("#thongbao-modal").innerHTML = "Chưa nhập giá sản phẩm"
                }
                else {
                    if ($("#gia-up").validity.patternMismatch) {
                        $("#modal-3").classList.add('open')
                        $("#thongbao-modal").innerHTML = "Giá sản phẩm không hợp lệ"
                    }
                    else {
                        if ($("#img-up").validity.patternMismatch) {
                            $("#modal-3").classList.add('open')
                            $("#thongbao-modal").innerHTML = "Đường dẫn không hợp lệ"
                        }
                        else {
                            jQuery.ajax({
                                url: '/tbl_product/CapNhatProduct',
                                dataType: "json",
                                type: "POST",
                                data: {
                                    product_id: $("#msp-up").value,
                                    product_name: $("#tensp-up").value,
                                    category_id: $("#dm-up").value,
                                    brand_id: $("#th-up").value,
                                    product_price: $("#gia-up").value,
                                    product_image: $("#img-up").value,
                                    product_status: $("#sl-up").value,
                                },
                                success: function (data) {
                                    if (data != 0) {
                                        $("#thongbao-modal").innerHTML = "Cập nhật sản phẩm thành công"
                                        document.getElementById("thongbao-btn").style.visibility = 'hidden';
                                        $("#modal-3").classList.add('open')
                                        setTimeout(function () {
                                            location.reload()
                                            $("#modal-3").classList.remove('open')
                                        }, 1000);
                                    }
                                    else {
                                        $("#thongbao-modal").innerHTML = "Cập nhật sản phẩm thất bại"
                                        $("#modal-3").classList.add('open')
                                    }
                                },
                                error: function (xhr) {
                                    $("#thongbao-modal").innerHTML = "Phải nhập đầy đủ thông tin sản phẩm"
                                    $("#modal-3").classList.add('open')
                                }
                            });
                        }
                    }
                }
            }
        })
    }
    Update()
</script>
<!-- modal trong nút Thêm sản phẩm -->
<script>
    const addBtn = $(".fa-plus")
    const modal2 = $('#modal-2')
    const modalContainer1 = $$('.js-modal-container')[1]
    const closeBtn1 = $$(".js-close-buy-ticket")[1]
    const thembtn = $("#thembtn")
    if (products.length != 0) {
        $("#msp-in").value = products[products.length - 1].id + 1
    }
    else {
        $("#msp-in").value = 1
    }
    addBtn.addEventListener("click", function () {
        modal2.classList.add('open')
    })

    closeBtn1.addEventListener("click", function () {
        modal2.classList.remove('open')
    })

    modalContainer1.addEventListener("click", function (e) {
        e.stopPropagation();
    })
    thembtn.addEventListener("click", function () {
        if ($("#th-in").value == 0) {
            $("#modal-3").classList.add('open')
            $("#thongbao-modal").innerHTML = "Chưa chọn thương hiệu"
        }
        else {
            if ($("#dm-in").value == 0) {
                $("#modal-3").classList.add('open')
                $("#thongbao-modal").innerHTML = "Chưa chọn danh mục"
            }
            else {
                if ($("#gia-in").validity.patternMismatch) {
                    $("#modal-3").classList.add('open')
                    $("#thongbao-modal").innerHTML = "Giá sản phẩm không hợp lệ"
                }
                else {
                    if ($("#img-in").validity.patternMismatch) {
                        $("#modal-3").classList.add('open')
                        $("#thongbao-modal").innerHTML = "Đường dẫn không hợp lệ"
                    }
                    else {
                        jQuery.ajax({
                            url: '/tbl_product/ThemProduct',
                            dataType: "json",
                            type: "POST",
                            data: {
                                product_name: $("#tensp-in").value,
                                category_id: $("#dm-in").value,
                                brand_id: $("#th-in").value,
                                product_price: $("#gia-in").value,
                                product_image: $("#img-in").value,
                                product_status: $("#sl-in").value,
                            },
                            success: function (data) {
                                if (data != 0) {
                                    $("#thongbao-modal").innerHTML = "Thêm sản phẩm thành công"
                                    document.getElementById("thongbao-btn").style.visibility = 'hidden';
                                    $("#modal-3").classList.add('open')
                                    setTimeout(function () {
                                        location.reload()
                                        $("#modal-3").classList.remove('open')
                                        $("#tensp-in").value = ""
                                        $("#dm-in").value = 0
                                        $("#th-in").value = 0
                                        $("#gia-in").value = ""
                                        $("#img-in").value = ""
                                        $("#sl-in").value = 0
                                    }, 1000);

                                }
                                else {
                                    $("#thongbao-modal").innerHTML = "Thêm sản phẩm thất bại"
                                    $("#modal-3").classList.add('open')
                                }
                            },
                            error: function (xhr) {
                                $("#thongbao-modal").innerHTML = "Phải nhập đầy đủ thông tin sản phẩm"
                                $("#modal-3").classList.add('open')
                            }
                        });
                    }
                }
            }
        }
    })
</script>
<script>
    function Delete() {
        var modal1 = $('#modal-1');
        const Deletebtns = $$(".fa-minus-circle")
        const cancelBtn = $('.cancelbtn')
        const deleteBtn = $('.deletebtn')
        for (const Deletebtn of Deletebtns) {
            Deletebtn.addEventListener("click", function () {
                modal1.classList.add('open')
                deleteBtn.id = Deletebtn.id
            })
        }
        cancelBtn.addEventListener("click", function () {
            modal1.classList.remove('open')
        })
        deleteBtn.addEventListener("click", function () {
            modal1.classList.remove('open')
            jQuery.ajax({
                url: '/tbl_product/XoaProduct',
                dataType: "json",
                type: "POST",
                data: { product_id: this.id },
                success: function (data) {
                    if (data != 0) {
                        $("#thongbao-modal").innerHTML = "Xóa sản phẩm thành công"
                        document.getElementById("thongbao-btn").style.visibility = 'hidden';
                        $("#modal-3").classList.add('open')
                        setTimeout(function () {
                            location.reload()
                        }, 1000);
                    }
                    else {
                        $("#thongbao-modal").empty()
                        $("#thongbao-modal").innerHTML = "Xóa sản phẩm thất bại"
                        $("#modal-3").classList.add('open')
                    }
                },
                error: function (xhr) {
                    $("#thongbao-modal").innerHTML = "Xảy ra lỗi khi xóa sản phẩm"
                    $("#modal-3").classList.add('open')
                }
            });
        })

        // Get the modal
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal1) {
                modal1.classList.remove('open')
            }
        }
    }
    Delete()
</script>
<!-- xử lí search -->
<script>
    let idPage = 1;
    const searchBtn = $('#search');
    const noResult = $('.no-result')
    const tableWrap = $('.table-wrap')
    console.log(tableWrap)
    console.log(noResult)
    searchBtn.addEventListener('click', () => {
        idPage = 1;
        productArr = [];
        products.forEach((item, index) => {
            if (item.name.toLocaleLowerCase().indexOf(searchText.value.toLocaleLowerCase()) != -1 || item.state.toLocaleLowerCase().indexOf(searchText.value.toLocaleLowerCase()) != -1 || item.danhmuc.toLocaleLowerCase().indexOf(searchText.value.toLocaleLowerCase()) != -1 || item.time.toLocaleLowerCase().indexOf(searchText.value.toLocaleLowerCase()) != -1 || (item.cost).toString().toLocaleLowerCase().indexOf(searchText.value.toLocaleLowerCase()) != -1) {
                productArr.push(item);
            }

        });
        if (productArr.length === 0) {
            console.log(productArr)
            noResult.style.display = 'block';
            tableWrap.classList.remove("table-wrap")
        } else {
            console.log(productArr)
            noResult.style.display = 'none';
            tableWrap.classList.add("table-wrap")
        }
        getCurrentPage(idPage)
        initRender(productArr, totalPages)
        Delete();
        Update();
        changePage()

        if (totalPages <= 1) {
            prevBtn.classList.add('disabled');
            nextBtn.classList.add('disabled');
        } else {
            nextBtn.classList.remove('disabled');
        }
    })
    searchText.addEventListener("keyup", (event) => {
        if (event.keyCode === 13) {
            event.preventDefault();
            searchBtn.click();
        }
    });

</script>
<script>
    function handleNotify() {
        var modal3 = $('#modal-3');
        const okBtn = $('.okbtn')
        okBtn.addEventListener("click", function () {
            modal3.classList.remove("open")
        })
    }
    handleNotify()
</script>